* {
  padding: 0px;
  margin: 0px auto;
  font-family: Helvetica;
}

html { 
  background: url("http://img07.deviantart.net/b292/i/2006/031/2/c/creep_by_strof.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#navigation {
  margin-bottom: 20px;
  display: block;
}
  #navigation h1, #navigation a {
    display: inline-block;
    vertical-align: center;
  }

#movie_list_outer {
  display: block;
  overflow-x: scroll;
  width: 90%; 
  height: 500px;
  border: 10px solid black;
  padding: 5px;
}
#movie_list_inner {
  width: auto;
  white-space: nowrap;
}

.movie {
  height: 100%;
  display: inline-block;
  width: 350px;
  text-align: center;
  vertical-align: center;
}
  .movie h1 {
    height: 125px;
    vertical-align: center;
  }
  .movie a {
    display: block;
  }
img {
  height: 300px;
  width: 200px;
  padding-bottom: 10px;
}
a{
  color: darkred;
}