*{
    margin: 0;
    border: 0;
}

html { 
 background: url(bloodzone.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

h1{
    font-family: helvetica;
    color: white;
    margin: 20px 0 0 75px;
    font-size: 40px;
}

form{
    border: grey solid 1px;
    width: 275px;
    margin: 0 auto 35px auto;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: lightgrey;
    color: white;
    font-family: helvetica;
    background-color: black;
}

input{
    margin: 0 0 10px 0;
}

.reglog{
    padding: 5px 10px;
    width: 70px;
    border-radius: 5px;
}

section{
    width: 865px;
    margin: 20% auto;
    padding: 30px 30px;
}

#left-div, #right-div{
    display: inline-block; vertical-align: top;
}

#right-div{
    margin: 0 0 0 250px; 
}

button{
    display: block;
    width: 300px;
    height: 70px;
    margin: 20px 0 40px 0;
    font-family: helvetica;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: grey solid 1px;
    background-color: black;
}

#one{
    margin-left: 47px;
}

#two{
    margin-left: 45px;
}

#three{
    margin-left: -1px;
}

#four{
    margin-left: 17px;
}

#five{
    margin-left: 43px;
}

#six{
    margin-right: 3.5px;
}

#buttong{
    margin-left: 85px;
}

