<!DOCTYPE html>
<html>
	<head>
	    <title></title>
	    {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'movies/CSS/index.css' %}">
	    <script src="https://apis.google.com/js/platform.js" async defer></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	    <meta name="google-signin-client_id" content="976044739107-s51mrphhdqnus946ar5m3bahk9jggsbu.apps.googleusercontent.com">
		<script>
        $(document).ready(function(){
            console.log('outside the loop');
            {% for movie in movies %}
                console.log("inside the loop");
                $.get("http://www.omdbapi.com/?t={{ movie.title }}&y=&plot=short&r=json",function(data){
                    console.log('inside the get');
                    var title = data.Title;
                    var plot = data.Plot;
                    var pic = data.Poster
                    $('#movie_list_inner').append(
                        "<div class='movie'><h1>"+title+"</h1><img src="+ pic +"><a href=\"{% url 'show' movie.id %}\">View Details</a></div>"
                        )
                }, 'json');
            {% endfor %}
        });

		  function signOut() {
		    var auth2 = gapi.auth2.getAuthInstance();
		    auth2.signOut().then(function () {

		      console.log('User signed out.@@@@@@@@');
		      window.location.href = '/logout';
		    });
		  }

		  function onLoad() {
		      gapi.load('auth2', function() {
		        gapi.auth2.init();
		      });
		    }
		</script>
	</head>

	<body>

    <div id='wrapper'>
    <audio src="static/myauth/gary.mp3" autoplay loop>
</audio>
        <div id='navigation'>
            <h1>Hello </h1>
            	{% if request.session.method == 'auth' %}
            		{{request.session.name}}
            		
            		<img src="{{request.session.img}}" id='profile_picture'>
            		<a href="#" onclick="signOut();">Sign out</a>
            		<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
            	{% else %}
            		Hello {{request.session.name}}
            		<a href= "{% url 'logout' %}">Log out</a>
            	{% endif %}

        </div>
        <div id='movie_list_outer'>
            <div id='movie_list_inner'></div>
        </div>
        <a href="{% url 'watch_list' %}">GO TO YOUR WATCH LIST!</a>
    </div>

	</body>

</html>
